body {
	font-size: 28px;
	font-family: 'Lora', serif;
}
#desc-div {
	padding: 2%;
}
#versus {
	margin-top: 3%;
	padding: 1%;
}
#map { 
	top:0; 
	bottom:0; 
	width:100%; 
	height: 700px;
}
#date {
	font-size: 18px;
}
#country1, #country2 {
	max-width: 220px;
	max-height: 200px;
}
.navbar-header {
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;
}
.navbar .navbar-brand {
	color: white;
	font-size: 26px;
}
.navbar-brand {
	float: none;
}
.leaflet-popup-content {
	width: 200px;
}
.leaflet-popup-content h3 {
	font-size: 20px;
}
.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 2%;
    margin-left: 5%;
    color: black;
}
.map-overlay .map-overlay-inner {
    opacity: 0.7;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}
.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}